.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mdtTableContainer tr td {
    border-bottom: 0;
}

.chartContainer {
    height: 45%;
    width: 45%;
}

.label {
    color: #000000;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
}

.table-container {
    margin: 0;
}

.emplRef:hover {
    cursor: pointer;
}

.dialog-footer {
    background: #C0C0C0;
}

.md-button {
    min-width: 100px;
}

footer {
    border-top: 1px solid #c0c0c0;
    margin-top: 20px;
}
.md-button.md-fab.md-fab-md {
    width: 36px;
    height: 36px;
}

.md-button.md-fab.md-fab-sm {
    width: 26px;
    height: 26px;
}

.md-datepicker-input {
    min-width: 200px;
}