.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mdtTableContainer tr td {
    border-bottom: 0;
}

.label {
    color: #000000;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
}

.table-container {
    margin: 0;
}

.emplRef:hover {
    cursor: pointer;
}

.dialog-footer {
    background: #C0C0C0;
}

.md-button {
    min-width: 100px;
}

footer {
    border-top: 1px solid #c0c0c0;
}
.md-button.md-fab.md-fab-md {
    width: 36px;
    height: 36px;
}

.md-button.md-fab.md-fab-sm {
    width: 26px;
    height: 26px;
}

.md-datepicker-input {
    min-width: 200px;
}

.md-tabs-canvas {
    min-width: 730px;
}

#serviceChart {
    height: 45%;
    width: 45%;
}

.view-title {
    padding-bottom: 30px;
}

table.md-table td.td-center.md-cell, 
table.md-table th.td-center.md-column{
    text-align: center;
}


#photo-id {
    width: 185px;
    height: 185px;
}

/*calendar*/
.monthview-selected {
    background-color: rgb(33, 150, 243);
    color: white;
}

.well {
    background-color: white;
    height: 750px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*settings*/
.setting-fieldset {
    padding-left: 30px;
}


/*checkbox-group*/
.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }

/*.fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }*/

.select-all-checkboxes {
  padding-left: 30px; }