<!DOCTYPE html>
<html data-ng-app="StaffinfoApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>База данных ПАСО</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/loading-bar.min.css" rel="stylesheet" />
    <link href="content/css/angular-material.min.css" rel="stylesheet" />
    <link href="content/css/style.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet"/>
    <link href="content/css/md-data-table.css" rel="stylesheet"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <div data-ng-controller="indexController">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button aria-label="Go Back" data-ng-hide="!authentication.isAuth" href="#/dashboard">
                    Главная
                </md-button>
                <div layout="column" flex="33" flex-sm="100" flex-xs="100" layout-align="center center">
                    <md-menu data-ng-hide="!authentication.isAuth">
                        <md-button aria-label="Employees" ng-click="$mdOpenMenu($event)">
                            Сотрудники
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button href="#/employees" ng-click="menuClick()">
                                    <div layout="row">
                                        <p flex>Действующие</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button href="#" ng-click="menuClick()">
                                    <div layout="row">
                                        <p flex>Пенсионеры</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button href="#" ng-click="menuClick()">
                                    <div layout="row">
                                        <p flex>Уволенные</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <md-button aria-label="Go Back" data-ng-hide="!authentication.isAuth" href="#/reports">
                    Отчеты
                </md-button>
                <span flex></span>
                <md-button data-ng-hide="!authentication.isAuth" href="#/dashboard">
                    Вы вошли как <strong>{{authentication.userName}}</strong>
                </md-button>
                <md-button class="md-raised" aria-label="Войти" data-ng-hide="authentication.isAuth" href="#/login">Войти</md-button>
                <md-button class="md-raised" aria-label="Выйти" data-ng-hide="!authentication.isAuth" data-ng-click="logOut()">Выйти</md-button>
            </div>
        </md-toolbar>
    </div>

    <div class="container" ui-view="">

    </div>

    <script src="scripts/angular/angular.js"></script>

    <!-- 3rd party libraries -->
    <script src="Scripts/angular-ui-router.js"></script>
    <script src="scripts/angular-local-storage.js"></script>
    <script src="scripts/loading-bar.js"></script>
    <script src="scripts/Chart.min.js"></script>
    <script src="scripts/angular-chart.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="scripts/angular-animate/angular-animate.js"></script>
    <script src="scripts/angular-aria/angular-aria.js"></script>
    <script src="scripts/angular-messages.js"></script>
    <!-- Angular Material Library -->
    <script src="scripts/angular-material/angular-material.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <!-- MdDataTable library -->
    <script src="scripts/md-data-table/md-data-table.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/dashboardService.js"></script>
    <script src="app/services/employeesService.js"></script>
    <script src="app/services/messageService.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/dashboardController.js"></script>
    <script src="app/controllers/employeesController.js"></script>
</body>
</html>
