<!DOCTYPE html>
<html data-ng-app="StaffinfoApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>База данных ПАСО</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/loading-bar.min.css" rel="stylesheet" />
    <link href="content/css/angular-material.min.css" rel="stylesheet" />
    <link href="content/css/md-data-table.css" rel="stylesheet" />
    <link href="content/css/calendar.css" rel="stylesheet" />
    <link href="content/css/style.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <script src="scripts/angular/angular.js"></script>

    <div data-ng-controller="indexController">
        <md-toolbar ng-hide="'login' | isState">
            <div class="md-toolbar-tools">
                <md-button aria-label="Go Back" data-ng-hide="!isAuth()" href="#/dashboard">
                    <md-icon md-svg-src="img/icons/ic_dashboard_24px.svg"></md-icon>
                    Главная
                </md-button>
                <!--<div layout="column" flex="33" flex-sm="100" flex-xs="100" layout-align="center center">-->
                <md-menu data-ng-hide="!authentication.isAuth">
                    <md-button aria-label="Employees" ng-click="$mdOpenMenu($event)">
                        <md-icon md-svg-src="img/icons/ic_group_24px.svg"></md-icon>
                        Сотрудники
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button href="#/employees" ng-click="menuClick()">
                                <md-icon md-svg-src="img/icons/ic_group_24px.svg"></md-icon>
                                <p flex>Действующие</p>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button href="#/retirees" ng-click="menuClick()">
                                <md-icon md-svg-src="img/icons/ic_group_24px.svg"></md-icon>
                                <p flex>Пенсионеры</p>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button href="#/dismissed" ng-click="menuClick()">
                                <md-icon md-svg-src="img/icons/ic_group_24px.svg"></md-icon>
                                <p flex>Уволенные</p>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <!--</div>-->
                <md-button aria-label="Go Back" data-ng-hide="!authentication.isAuth" href="#/reports">
                    <md-icon md-svg-src="img/icons/ic_description_24px.svg"></md-icon>
                    Отчеты
                </md-button>
                <md-button aria-label="Settings" data-ng-hide="!authentication.isAuth" href="#/settings">
                    <md-icon md-svg-src="img/icons/ic_settings_24px.svg"></md-icon>
                    Настройки
                </md-button>
                <span flex></span>
                <md-button data-ng-hide="!authentication.isAuth" href="#/dashboard">
                    <p class="userRequisites">
                        Здравствуйте, {{authentication.userName}}
                    </p>
                    <p class="userRequisites">
                        {{actualDate}}
                    </p>
                </md-button>
                <md-button class="md-raised" aria-label="Войти" data-ng-hide="authentication.isAuth" href="#/login">Войти</md-button>
                <md-button class="md-raised" aria-label="Выйти" data-ng-hide="!authentication.isAuth" data-ng-click="logOut()">Выйти</md-button>
            </div>
        </md-toolbar>
    </div>

    <div flex layout="row">
        <md-content ui-view="" class="content">

        </md-content>
    </div>



    <footer>
        <h5 class="text-center"><strong>&copy;Shevchuk</strong></h5>
    </footer>

    

    <!-- 3rd party libraries -->
    <script src="Scripts/angular-ui-router.js"></script>
    <script src="scripts/angular-local-storage.js"></script>
    <script src="scripts/angular-messages.js"></script>
    <script src="scripts/angular-messages.js"></script>
    <script src="scripts/loading-bar.js"></script>
    <script src="scripts/Chart.min.js"></script>
    <script src="scripts/angular-chart.js"></script>
    <script src="scripts/moment.min.js"></script>
    <!-- Custom -->
    <script src="scripts/chart-additional.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="scripts/angular-animate/angular-animate.js"></script>
    <script src="scripts/angular-aria/angular-aria.js"></script>
    <!-- Angular Material Library -->
    <script src="scripts/angular-material/angular-material.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <!-- MdDataTable library -->
    <script src="scripts/md-data-table/md-data-table.js"></script>
    <script src="scripts/md-data-table/md-data-table-fixed-header.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/settingsService.js"></script>
    <script src="app/services/dashboardService.js"></script>
    <script src="app/services/employeesService.js"></script>
    <script src="app/services/messageService.js"></script>
    <script src="app/services/idleService.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/dashboardController.js"></script>
    <script src="app/controllers/employeesController.js"></script>
    <script src="app/controllers/retireesController.js"></script>
    <script src="app/controllers/dismissedController.js"></script>
    <script src="app/controllers/settingsController.js"></script>
    <script src="app/controllers/dialogController.js"></script>
    <!-- Load directives -->
    <script src="app/directives/autoOpen.js"></script>
    <!-- calendar -->
    <script src="scripts/calendar-tpls.js"></script>
    <script src="app/controllers/calendarController.js"></script>
    <!-- user-settings -->
    <script src="scripts/angular-user-settings.js"></script>
    <!-- IDLE (session control) -->
    <script src="scripts/angular-idle.js"></script>

</body>
</html>
