<md-dialog aria-label="Добавление сотрудника">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Добавление сотрудника</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width: 800px; max-height: 810px;">
            <form>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Личные данные">
                        <md-content class="md-padding">
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm md-open-on-focus>
                                    <label>Фамилия</label>
                                    <input ng-model="newEmployee.employeeLastname" required>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Имя</label>
                                    <input ng-model="newEmployee.employeeFirstname" required>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Отчество</label>
                                    <input ng-model="newEmployee.employeeMiddlename" required>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Заметка</label>
                                    <input ng-model="newEmployee.description"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Дата Рождения</label>
                                    <md-datepicker ng-model="newEmployee.birthDate" md-placeholder="Укажите Дату" required></md-datepicker>
                                </md-input-container>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Контактные данные">
                        <md-content class="md-padding">
                            <h6 class="md-display-1">Домашний Адрес</h6>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Адрес</label>
                                    <input ng-model="newEmployee.detailedAddress" required/>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Город</label>
                                    <input ng-model="newEmployee.city" required/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Область</label>
                                    <input ng-model="newEmployee.area" required/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Почтовый индекс</label>
                                    <input ng-model="newEmployee.zipCode" required ng-pattern="/^[0-9]{6}$/" md-maxlength="6"/>
                                </md-input-container>
                            </div>

                            <h6 class="md-display-1">Пасспортные данные</h6>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Номер паспорта</label>
                                    <input ng-model="newEmployee.passportNumber" required md-maxlength="9"/>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Организация, выдавшая паспорт</label>
                                    <input ng-model="newEmployee.passportOrganization" required/>
                                </md-input-container>
                            </div>

                            <h6 class="md-display-1">Контактный телефон</h6>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Тел. 1</label>
                                    <input required placeholder="+375 (XX) XXX XX XX" ng-model="newEmployee.firstPhone"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Тел. 2</label>
                                    <input required placeholder="+375 (XX) XXX XX XX" ng-model="newEmployee.secondPhone"/>
                                </md-input-container>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-dialog-content>

        <md-dialog-actions layout="row" class="dialog-footer">
            <md-button ng-click="saveNewEmployee()">
                Сохранить
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>