<md-dialog aria-label="change password">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Изменить пароль</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width: 800px; max-height: 810px; min-width: 400px;">
        <form name="changePasswordForm">
            <md-content class="md-padding">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Текущий пароль</label>
                        <input name="currentPassword" type="password" ng-model="currentPassword" required md-maxlength="10" />
                        <div ng-messages="changePasswordForm.currentPassword.$error" class="validation-messages">
                            <div ng-message="required">Необходимо заполнить это поле.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Новый пароль</label>
                        <input name="password" type="password" ng-model="newPassword" required md-maxlength="10"/>
                        <div ng-messages="changePasswordForm.password.$error" class="validation-messages">
                            <div ng-message="required">Необходимо заполнить это поле.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Подтвердите пароль</label>
                        <input name="confirmPassword" type="password" ng-model="confirmPassword" required md-maxlength="10"/>
                        <div ng-messages="changePasswordForm.confirmPassword.$error" class="validation-messages">
                            <div ng-message="required">Необходимо заполнить это поле.</div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="dialog-footer">
        <md-button ng-click="changePassword()" class="md-primary md-raised" ng-disabled="changePasswordForm.$invalid">
            <md-icon md-svg-icon="img/icons/ic_check_circle_white_24px.svg"></md-icon>
            Принять
        </md-button>
    </md-dialog-actions>
</md-dialog>