<div class="container">
    <div class="page-header">
        <h2>Общая кадровая структура</h2>
    </div>
    <div>
        <div>
            <h3>Службы</h3>
            <div>
                <canvas id="serviceChart" class="chart chart-pie"
                        chart-data="serviceChart.data" chart-labels="serviceChart.labels" chart-options="serviceChart.options"></canvas>
            </div>
        </div>
        <!--<div>
            <canvas id="highRankChart" class="chart chart-radar"
                    chart-data="highRankChart.data" chart-options="highRankChart.options" chart-labels="highRankChart.labels"></canvas>
        </div>-->

        <div>
            <h3>Выслуга лет</h3>
            <div>
                <canvas id="expChart" class="chart chart-bar"
                        chart-data="expChart.data" chart-labels="expChart.labels" chart-options="expChart.options"></canvas>
            </div>
        </div>
    </div>
</div>
