<div flex layout="row">
    <md-sidebar class="md-whiteframe-z2 md-sidenav-left sidenav">
        Calendar will be here.
    </md-sidebar>

    <md-content ui-view="" class="dashboard-content">
        <div>
            <h2>Общая кадровая структура</h2>
        </div>
        <div layout="row" layout-sm="column" layout-align="space-around" ng-if="isLoading">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
        <md-tabs style="min-height: 700px;" ng-if="!isLoading">
            <md-tab label="Службы" md-on-select="reloadPie()">
                <md-content>
                    <div id="service-chart-container">
                        <h3>Службы</h3>
                        <md-button class="md-primary" ng-click="reloadPie()">Test</md-button>
                        <div>
                            <canvas id="serviceChart" height="30" width="100"></canvas>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Выслуга лет" md-on-select="reloadBar()">
                <md-content>
                    <div id="seniority-chart-container">
                        <h3>Выслуга лет</h3>
                        <div>
                            <canvas id="seniorityChart" height="30" width="100"></canvas>
                            <div flex-gt-sm="50">
                            </div>
                        </div>
                    </div>
                    <md-checkbox ng-model="includeRetirees" aria-label="Retirees" ng-disabled="false" ng-click="toggleRetirees(includeRetirees)" style="margin-left: 10px;">
                        Пенсионеры
                    </md-checkbox>
                </md-content>
            </md-tab>
        </md-tabs>
        <!--<div>
            <canvas id="highRankChart" class="chart chart-radar"
                    chart-data="highRankChart.data" chart-options="highRankChart.options" chart-labels="highRankChart.labels"></canvas>
        </div>-->
    </md-content>
</div>
