<h2>Действующие Сотрудники</h2>
<md-icon md-svg-icon="social:android" aria-label="android "></md-icon>
<div layout-margin>
    <md-card style="margin: 0px">
        <md-input-container style="margin: 15px;">
            <label>Поиск по фамилии</label>
            <input type="text" ng-model="filterText"/>
        </md-input-container>
    </md-card>

    <mdt-table
        paginated-rows="{isEnabled:true, rowsPerPageValues: [5,10,20,50]}"
        mdt-row="{
               data: employees,
               'column-keys': [
                    'employeeLastname',
                    'employeeFirstname',
                    'employeeMiddlename',
                    'actualPost',
                    'actualRank',
                    'birthDate'
               ]
               }">
        <mdt-header-row>
            <mdt-column align-rule="left">Фамилия</mdt-column>
            <mdt-column align-rule="left">Имя</mdt-column>
            <mdt-column align-rule="left">Отчество</mdt-column>
            <mdt-column align-rule="left">Должность</mdt-column>
            <mdt-column align-rule="left">Звание</mdt-column>
            <mdt-column align-rule="left">Дата Рождения (ГГГГ-ММ-ДД)</mdt-column>
        </mdt-header-row>

        <mdt-custom-cell column-key="employeeLastname">
            <a ng-href="/dashboard">{{value}}</a>
        </mdt-custom-cell>

    </mdt-table>
</div>