<md-dialog aria-label="{{employee.employeeLastname}}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{employee.employeeLastname}} {{employee.employeeFirstname}} {{employee.employeeMiddlename}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width: 800px; max-height: 810px;">
            <form>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Личные данные">
                        <md-content class="md-padding">
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm md-open-on-focus>
                                    <label>Фамилия</label>
                                    <input ng-model="changeable.employeeLastname" required>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Имя</label>
                                    <input ng-model="changeable.employeeFirstname" required>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Отчество</label>
                                    <input ng-model="changeable.employeeMiddlename" required>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Заметка</label>
                                    <input/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Дата Рождения</label>
                                    <md-datepicker ng-model="changeable.birthDate" md-placeholder="Укажите Дату" required></md-datepicker>
                                </md-input-container>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Контактные данные">
                        <md-content class="md-padding">
                            <h6 class="md-display-1">Домашний Адрес</h6>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Адрес</label>
                                    <input ng-model="changeable.detailedAddress" required/>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Город</label>
                                    <input ng-model="changeable.city" required/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Область</label>
                                    <input ng-model="changeable.area" required/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Почтовый индекс</label>
                                    <input ng-model="changeable.zipCode" required ng-pattern="/^[0-9]{6}$/" md-maxlength="6"/>
                                </md-input-container>
                            </div>

                            <h6 class="md-display-1">Пасспортные данные</h6>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Номер паспорта</label>
                                    <input ng-model="changeable.passportNumber" required md-maxlength="9"/>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Организация, выдавшая паспорт</label>
                                    <input ng-model="changeable.passportOrganization" required/>
                                </md-input-container>
                            </div>

                            <h6 class="md-display-1">Контактный телефон</h6>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Тел. 1</label>
                                    <input required placeholder="+375 (XX) XXX XX XX" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Тел. 2</label>
                                    <input required placeholder="+375 (XX) XXX XX XX" />
                                </md-input-container>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Послужной список (МЧС)" md-on-select="getMesAchievements()">
                        <md-content class="md-padding">
                            <h1 class="md-display-1">Служба в МЧС</h1>
                            <!--<md-input-container>
                                <label>Тип службы</label>
                                <md-select ng-model="selectedServiceType" ng-change="setServiceItems()">
                                    <md-option><em>None</em></md-option>
                                    <md-option ng-repeat="type in serviceTypes" ng-value="type.value">
                                        {{type.title}}
                                    </md-option>
                                </md-select>
                            </md-input-container>-->

                            <md-table-container>
                                <table md-table md-progress="promise">
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column>Начало периода</th>
                                        <th md-column>Конец периода</th>
                                        <th md-column>Место</th>
                                        <th md-column>Должность</th>
                                        <th md-column>Звание</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select-id="id" ng-repeat="item in mesAchievements | orderBy: 'startDate'">
                                        <td md-cell mdDesc="true">{{item.startDate.toISOString().slice(0, 10)}}</td>
                                        <td md-cell>{{item.finishDate.toISOString().slice(0, 10)}}</td>
                                        <td md-cell>{{item.location}}</td>
                                        <td md-cell>{{item.post}}</td>
                                        <td md-cell>{{item.rank}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </md-content>
                    </md-tab>
                    <md-tab label="Послужной список" md-on-select="getServiceAchievements()">
                        <md-content class="md-padding">
                            <h1 class="md-display-1">Служба в других силовых структурах</h1>
                            <md-table-container>
                                <table md-table md-progress="promise">
                                    <thead md-head>
                                        <tr md-row>
                                            <th md-column>Начало периода</th>
                                            <th md-column>Конец периода</th>
                                            <th md-column>Место</th>
                                            <th md-column>Звание</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select-id="id" ng-repeat="item in serviceAchievements | orderBy: 'startDate'">
                                            <td md-cell mdDesc="true">{{item.startDate.toISOString().slice(0, 10)}}</td>
                                            <td md-cell>{{item.finishDate.toISOString().slice(0, 10)}}</td>
                                            <td md-cell>{{item.location}}</td>
                                            <td md-cell>{{item.rank}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </md-content>
                    </md-tab>
                    <md-tab label="Дополнительно">
                        <md-content class="md-padding">
                            <h1 class="md-display-1">Действия</h1>
                            <div layout-gt-sm="row">
                                <md-button class="md-primary md-rised" ng-click="askForTransfer('P', $event)">Перевести в "Пенсионеры"</md-button>
                                <md-button class="md-primary md-rised" ng-click="askForTransfer('F', $event)">Перевести в "Уволенные"</md-button>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </form>
        </md-dialog-content>

        <md-dialog-actions layout="row" class="dialog-footer">
            <md-button ng-click="saveChanges()">
                Сохранить
            </md-button>
            <md-button ng-click="resetChanges()">
                Отмена
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>