<div class="container">
    <h2 class="view-title">Действующие Сотрудники</h2>

    <div>
        <md-button class="md-fab md-primary md-fab-md" aria-label="Refresh" ng-click="getEmployees()">
            <md-icon md-svg-src="img/icons/ic_refresh_24px.svg"></md-icon>
            <md-tooltip md-direction="bottom">
                Обновить
            </md-tooltip>
        </md-button>
        <md-button class="md-primary md-raised" style="margin-left: 0" ng-click="showAddingView($event)">
            <md-icon md-svg-src="img/icons/ic_person_add_24px.svg" aria-label="Close dialog"></md-icon>
            Добавить
            <md-tooltip md-direction="bottom">
                Зарегистрировать нового сотрудника
            </md-tooltip>
        </md-button>
    </div>

    <md-card style="margin: 0; margin-bottom: 10px">
        <md-input-container style="margin:15px;">
            <label>Поиск</label>
            <input type="text" ng-model="query.filter" ng-model-options="{debounce: 1000 }" ng-change="getEmployees()">
        </md-input-container>
    </md-card>

    <md-card class="table-container">
        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head> <!--fix-head-->
                    <tr md-row>
                        <th md-column>Фамилия</th>
                        <th md-column>Имя</th>
                        <th md-column>Отчество</th>
                        <th md-column>Должность</th>
                        <th md-column>Звание</th>
                        <th md-column class="td-center">Дата Рождения</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select-id="id" ng-repeat="empl in employees | orderBy: query.order | filter: query.filter">
                        <td md-cell style="padding-left: 20px"><a ng-click="showDetails($event, empl.id)" class="emplRef">{{empl.employeeLastname}}</a></td>
                        <td md-cell>{{empl.employeeFirstname}}</td>
                        <td md-cell>{{empl.employeeMiddlename}}</td>
                        <td md-cell>{{empl.actualPost}}</td>
                        <td md-cell>{{empl.actualRank}}</td>
                        <td md-cell class="td-center">{{getDate(empl.birthDate).toLocaleString('ru-RU', { year: 'numeric', month: 'numeric', day: 'numeric' })}}</td>
                        <td md-cell style="width: 25px;"><md-button aria-label="delete button" style="min-width: 25px;" ng-click="confirmDeleting($event, empl.id)" class="pull-right"><md-icon md-svg-src="img/icons/ic_delete_forever_24px.svg"></md-icon><md-tooltip md-direction="bottom">Удалить всю информацию о сотруднике</md-tooltip></md-button></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <data-md-table-pagination md-limit="query.limit" md-label="{{query.label}}" md-limit-options="[5,10,15]" md-page="query.page" md-total={{total}} md-on-paginate="getEmployees" md-page-select md-boundary-links="false"></data-md-table-pagination>
    </md-card>

</div>