<md-dialog aria-label="event details">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <p>
                <h2>Уведомление </h2>
                <h2>{{notification.author != null && notification.author != undefined ? '&nbsp;(Автор : ' + notification.author + ')' : '&nbsp;(Системное)';}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width: 800px; max-height: 810px; min-width: 600px;">
        <md-content class="md-padding">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Заголовок</label>
                    <input ng-model="notification.title" required md-maxlength="20" ng-disabled="true"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Дата</label>
                    <md-datepicker ng-model="notification.dueDate" md-placeholder="Укажите Дату" required ng-disabled="true"></md-datepicker>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" style="width: 100%;">
                    <label>Текст Уведомления</label>
                    <textarea ng-model="notification.details" columns="1" md-maxlength="200" rows="3" required ng-disabled="true"></textarea>
                </md-input-container>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="dialog-footer">
        <md-button ng-click="deleteNotification()" class="md-primary md-raised" ng-disabled="notification.id <= 0;">
            Удалить
        </md-button>
        <md-button ng-click="cancel()" class="md-primary md-raised">
            Закрыть
        </md-button>
    </md-dialog-actions>
</md-dialog>