<div class="row">
    <div class="container">
        <div class="page-header text-center">

            <h2>База Данных Гомельского Пожарного Аварийно Спасательного Отряда.</h2>

            <strong><p>Система содержит кадровую информацию о сотрудниках ПАСО и их рабочей деятельности.</p></strong>
        </div>
    </div>
    <!--<div class="col-md-2">
        &nbsp;
    </div>-->
    <!--<div class="col-md-4">
        <h2>Вход</h2>
        <p class="text-primary">Вы можете войти в систему используя свои учетные данные</p>
        <p><a class="btn btn-info" href="#/login" role="button">Войти &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>-->
</div>