<div class="container login-container">
    <div class="flash-container">
    </div>

    <div class="row">
        <div class="col-sm-7">
            <h1>База Данных Гомельского Пожарного Аварийно Спасательного Отряда.</h1>
            <p>Система содержит кадровую информацию о сотрудниках ПАСО и их рабочей деятельности и автоматизирует работу отдела кадрового обеспечения Пожарного аварийно спасательного отряда Гомельского областного управления МЧС </p>
        </div>
        <div class="col-sm-5">
            <md-whiteframe class="md-whiteframe-2dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout>
                <form class="form-login" role="form">
                    <div class="login-header">
                        <h2 class="form-login-heading text-center">Вход</h2>
                    </div>
                    <div class="form-group">
                        <label for="login">Имя пользователя</label>
                        <input type="text" class="form-control" placeholder="Username" id="login" data-ng-model="loginData.userName" autocomplete="off" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="login">Пароль</label>
                        <input type="password" class="form-control" placeholder="Password" id="password" data-ng-model="loginData.password" autocomplete="off" required>
                    </div>
                    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Войти</button>
                    <div data-ng-hide="message == ''" class="alert alert-danger">
                        {{message}}
                    </div>
                </form>
            </md-whiteframe>
        </div>
    </div>
</div>

