<div class="container">
    <h2>Отчеты</h2>

    <div class="row">

        <div class="padded col-xs-3" md-whiteframe="6" layout-align="center center">
            <h4>Комплексный</h4>
            <p>
                Отчет по сотрудникам отряда. Содержит базовую информацию: фамилия, имя, отчество, год рождения, текущие звание и должность.
            </p>
            <div class="row">
                <div class="pull-right">
                    <md-button class="report-button" aria-label="excel" ng-click="getReport('totalEmployees', 'xlsx')">
                        <img class="png-icon" src="../../img/icons/excel.png">
                    </md-button>
                    <md-button class="report-button" aria-label="pdf">
                        <img class="png-icon" src="../../img/icons/pdf.png">
                    </md-button>
                </div>
            </div>
        </div>
        
    </div>
</div>

