<md-content class="md-padding">
    <div>
        <h2>Пользователи</h2>
    </div>
    <!-- Container #2 -->
    <div flex layout="row" ng-controller="userController">

        <!-- Container #3 -->
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
            <md-list>
                <md-list-item ng-repeat="u in users">
                    <md-button ng-click="selectUser(u)" ng-class="{'selected' : u === ul.selected }">
                        <md-icon md-svg-src="img/icons/ic_account_circle_black_24px.svg"></md-icon>
                        {{u.lastname}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <!-- Container #4 -->
        <md-content flex id="content" class="md-whiteframe-z2">
            <div id="photo">
                <img ng-src="{{selected.employeePhoto != undefined ? 'data:image/jpeg;base64,'+selected.employeePhoto : '/img/default-avatar.jpg'}}" id="user-photo" class="img-thumbnail" />
            </div>
            <div id="personal info">
                <h4>{{selected.lastname}} {{selected.firstname}} {{selected.middlename}}</h4>
            </div>
            <div id="permissions"></div>
            <div id="actions">
                
            </div>
        </md-content>

    </div>

</md-content>