<md-content class="md-padding">
    <div>
        <h2>Пользователи</h2>
    </div>

    <md-button class="md-primary md-raised" style="margin-left: 0" ng-click="showUserRegistrationForm($event)">
        <md-icon md-svg-src="img/icons/ic_person_add_24px.svg" aria-label="Close dialog"></md-icon>
        Добавить
        <md-tooltip md-direction="bottom">
            Зарегистрировать нового пользователя
        </md-tooltip>
    </md-button>

    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="isLoading">
        <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
    </div>

    <div flex layout="row" ng-controller="userController" style="margin-top: 30px;">
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">            
            <md-list>
                <md-list-item ng-repeat="u in users | orderBy: 'lastname'">
                    <md-button flex class="text-left" ng-click="selectUser(u)" ng-class="{'selected' : u === ul.selected }">
                        <md-icon md-svg-src="img/icons/ic_account_circle_black_24px.svg"></md-icon>
                        {{u.lastname}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex id="content" class="md-padding md-whiteframe-z2" ng-if="selected">
            <fieldset>
                <legend class="legend">Общее</legend>
                <div layout="row" layout-wrap flex>
                    <img ng-src="{{selected.employeePhoto != undefined ? 'data:image/jpeg;base64,'+selected.employeePhoto : '/img/default-avatar.jpg'}}" id="user-photo" class="img-thumbnail" />
                    <div style="margin-left:20px;">
                        <h2>{{selected.lastname}} {{selected.firstname}} {{selected.middlename}}</h2>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend class="legend">Права</legend>
                <div layout="row" layout-wrap flex>
                    <md-checkbox ng-model="selected.isAdmin" aria-label="is admin" ng-disabled="false" ng-change="isAdmin()" style="margin-left: 10px;">
                        Администратор
                    </md-checkbox>
                    <md-checkbox ng-model="selected.isEditor" aria-label="is editor" ng-disabled="false" style="margin-left: 10px;">
                        Редактирование
                    </md-checkbox>
                    <md-checkbox ng-model="selected.isReader" aria-label="is reader" ng-disabled="false" style="margin-left: 10px;">
                        Чтение
                    </md-checkbox>
                </div>
            </fieldset>

                
            </div>
        </md-content>

    </div>

</md-content>