<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://staffinfoapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>staffinfoapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StaffinfoAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StaffinfoAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:staffinfo.database.windows.net,1433;Initial Catalog=authDB;User ID=dshauchuk@staffinfo;Password=shevchuk_1995" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Staffinfo.API.AuthContext, Staffinfo.API" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StaffContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:staffinfo.database.windows.net,1433;Initial Catalog=StaffinfoTestDB;User ID=dshauchuk@staffinfo;Password=shevchuk_1995" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Staffinfo.DAL.Context.StaffContext, Staffinfo.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="authDB" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:staffinfo.database.windows.net,1433;Initial Catalog=authDB;Persist Security Info=False;User ID=dshauchuk;Password=shevchuk_1995;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\authDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:staffinfo.database.windows.net,1433;Initial Catalog=authDB;Persist Security Info=False;User ID=dshauchuk;Password=shevchuk_1995;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:staffinfo.database.windows.net,1433;Initial Catalog=authDB;User ID=dshauchuk@staffinfo;Password=shevchuk_1995</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)authDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StaffContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:staffinfo.database.windows.net,1433;Initial Catalog=StaffinfoTestDB;User ID=dshauchuk@staffinfo;Password=shevchuk_1995</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AuthContext" />
  </ItemGroup>
</Project>